* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f4f0f3;
    font-family: "Roboto", sans-serif;
}

.category-food {
    font-size: 1.3em;
    font-weight: 500;
    
}

.category-head {
    background-color: #95a5a6;
    border-radius: 0.25em;
    height: 2rem;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
}

.category-item {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.food-card {
    width: 18.1rem;
    border: 0.5px solid #b2bec3;
}

img {
    object-fit: cover;
    width: 18rem;
    height: 12rem;
}

.card-body {
    padding: 10px;
}

.card-body>h5 {
    font-size: 1.25rem;
}

.food-conten {
    display: grid;
    /* grid-template-columns: 5rem 3rem; */
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
}

.text-title {
    grid-row-start: 1;
    grid-row-end: 3;
}

.food-conten>p {
    margin: 0 1.5rem;
}

a {
    margin-top: 20px;
    text-decoration: none;
    color: #dfe6e9;
}

.btn {
    display: flex;
    background-color: #74b9ff;
    width: 10em;
    height: 2.2em;
    font-weight: 400;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}