.productcard {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    box-shadow: #dfe6e9 0px 2.4px 0.2px;
    padding: 10px 0px 10px 10px;

    position: relative;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-be;

        &>p {
            font-weight: bold;
        }

        &>p~div {
            padding-top: 5px;
        }

        & .option {
            color: red;
        }

    }

    & .count {
        width: 100%;

        display: flex;
        flex-direction: row;
        &>div {
            width: 30px;
            height: 25px;
            border: 1px solid black;

            display: flex;
            justify-content: center;
            align-items: center;
            // flex-grow: 0.5;
        }
        &>div:focus{
            outline: none;
        }
    }
    &__count{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;

        padding-right: 10px;
        & .option{
            flex-shrink: 0;
            height: 20px;
            color: red;
            text-decoration:underline red solid ;
        }
    }
    &__sum{
        padding-top: 10px;
        flex: 1;
        & .prices{
            padding-top: 5px;
            text-align: right;
            color: red;
        }
    }
}