.category-food {
    font-size: 1.3em;
    font-weight: 500;

}

.category-head {
    background-color: #95a5a6;
    border-radius: 0.25em;
    height: 2rem;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
}

.category-item {
    /* display: grid;
    grid-template-columns: 290px 290px 290px;
    gap: 20px;
    justify-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.food-card {
    margin-top: 20px;
    width: 18.1rem;
    border: 0.5px solid #b2bec3;
    background-color: #ffffff;
}

.category-item .food-card>img {
    object-fit: cover;
    width: 18rem;
    height: 12rem;
}

.card-body {
    padding: 10px;
}

.card-body>h5 {
    font-size: 1.25rem;
}

.food-conten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5px;
}

.text-title {
    grid-row-start: 1;
    grid-row-end: 3;
}

.food-conten>p {
    margin: 0 1.5rem;
}

.category-item .food-card .card-body>a {
    margin-top: 20px;
    text-decoration: none;
    color: #dfe6e9;
}

.btn-detail {
    display: flex;
    background-color: #74b9ff;
    width: 10em;
    height: 2.2em;
    font-weight: 400;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}