.cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card-image{
    /* width: 100%;
    display: block; */
    object-fit: cover;
    width: 400px;
    height: 300px;
}