:root {
    --header-height: 3rem;

    /* Color */
    --first-color: #3498db;
    --first-color-light: #c4c7f5;
    --dark-color: #0e1026;
    --white-color: #fbfbfb;

    /* Font size */
    --body-font: 'Open Sans', .sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: 0.938rem;

    /* z-index */
    --z-fixed: 100;
}

@media screen and (min-width:768px) {
    :root {
        --nav-name-font-size: 1rem;
        --normal-font-size: 1rem;
    }

}

* {
    box-sizing: border-box;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.bg-gril {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 1rem;
    background-color: #fff;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: var(--dark-color);
}

.header-toggle {
    font-size: 1.7rem;
    cursor: pointer;
}

.cart {
    color: var(--dark-color);
    font-size: 2rem;
}

@media screen and (max-width:768px) {
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--first-color);
        width: 80%;
        height: 100vh;
        padding: 2rem 0;
        z-index: var(--z-fixed);
        transition: 0.5s;
        overflow-y: auto j;
    }

    .nav-conten {
        display: flex;
        flex-direction: column;
    }

    .nav-perfil {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
    }

    .nav-perfil:div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 3rem;
    }

    .nav-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    .nav-img img {
        width: 70px;
    }


    .nav-name {
        display: block;
        font-size: var(--nav-name-font-size);
        color: var(--white-color);

    }

    .nav-item {
        margin-bottom: 2rem;
    }

    .nav-link {
        color: var(--first-color-light);
    }

    .show {
        left: 0;
    }

    /* card css */
    .cards-food {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding-bottom: 100px;
        background-color: #ecf0f1;
    }

    .card-image {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }

    .card-conten {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px 0;
    }

    .btn {
        background: #76B3FA;
        border-radius: 100px;
        color: #fff;
        font-size: 1.2em;
        width: 100%;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .food-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 1.2em;
        font-weight: 700;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: 0.25s ease-in-out;
        height: 0;
        overflow: hidden;
    }

    .card-details.active {
        height: 140px;
    }

    .count {
        display: flex;
        /* flex-direction: row; */
        border: 1px solid #76B3FA;
        font-size: 1.5em;
        font-weight: 700;
    }

    .count .plus {
        margin: 10px 25px;
    }

    .count .minus {
        margin: 10px 25px;
    }

    .count .number-count {
        margin: 10px 0;

    }

    .btn-price {
        display: flex;
        margin: 5px;
        width: 100%;
    }

    .shop-cart {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-color: blueviolet;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        display: block;
        background-color: #bdc3c7;
    }

    .shop-cart-conten {
        padding: 0 1em;
    }

    .shop-cart .icon-show {
        display: flex;
        justify-content: center;
        font-size: 2em;
        /* transform: rotate(180deg); */
    }

    .shop-cart-conten {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .shop-cart-conten .item {
        position: relative;
        border-radius: 10px;
        margin: 0 5px 5px 5px;
        width: 4em;
    }

    .item>img {
        border-radius: 10px;
        width: 4em;
        height: 4em;
        object-fit: cover;
    }

    .item>i {
        color: #2c3e50;
        position: absolute;
        right: 0;
        font-size: 1.5em;
    }
}